@charset "utf-8";
/* CSS Document */

:root {
  --idec_primary_purple: #2a206a;
  --idec_primary_green: #00ad66;
  --idec_light_purple_1: #7a5fbc;
  --idec_light_purple_2: #926aba;
  --pseudo_white: #fff;
}

h1 {
  color: #2a206a;
  font-size: 400%;
}
@media (max-width: 768px) {
  h1 {
    font-size: 300%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 200%;
  }
}

nav div li .nav-link a {
  color: #2a206a;
  font-size: 100%;
}
/* Background image*/
.title-jumbo {
  background-image: url("../img/hand.png"), url("../img/tree.png");
  background-size: 600px, 1800px;
  background-position: right, top;
  background-repeat: no-repeat;
  background-attachment: scroll, scroll;
}
.timeline-idec {
  background-image: url("../img/timeline.svg");
  padding-left: 10px;
  background-size: 850px;
  background-position: 150px -110px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.timeline-dna-1 {
  padding-top: 0px;
  padding-left: 160px;
}
.timeline-dna-2 {
  padding-left: 160px;
}
.timeline-dna-3 {
  padding-top: 50px;
  padding-left: 160px;
}
span:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 26px;
  margin-bottom: -8px;
  margin-right: 2px;
  padding-top: 0px;
}
.time-blue:before {
  background: #0275d8;
}
.time-green:before {
  background: #5cb85c;
}
.time-red:before {
  background: #d9534f;
}
.time-yellow:before {
  background: #f0ad4e;
}
.time-purple:before {
  background: #4b0082;
}

@media (max-width: 1024px) {
  .title-jumbo {
    background-size: 500px, 1800px;
  }
}
@media (max-width: 768px) {
  .title-jumbo {
    background-size: 300px, 1800px;
  }
}
@media (max-width: 500px) {
  .title-jumbo {
    background-size: 250px, 1800px;
  }
}
.card-footer {
  background-image: url("../img/bluephoto.png");
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.card-footer img {
  left: 0;
  bottom: 0;
}

.card-footer2 {
  background-image: url("../img/footer2.png");
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1550px;
}
.card-footer2 img {
  left: 0;
  bottom: 0;
}

.jumbo-form {
  background: rgba(213, 207, 255, 0.4);
}
.form-control {
  background: rgba(213, 207, 255, 0.8);
}

.btn-huge {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-size: 25px;
  background-color: rgba(233, 236, 239, 0.7)
}

.parent {
  position: inline;
  top: 0;
  left: 0;
}
.img-1 {
  position: top;
  top: 0;
  left: 0;
  size: contain;
}
.img-2 {
  position: absolute;
  top: 0px;
  left: 20%;
  max-width: 60%;
}

.parent .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 11px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  border-width: medium;
}

.jumbo-quote {
  background-color: rgba(233, 236, 239, 0.6);
  border-radius: 2em;
  padding-left: 0.2em;
  padding-right: 0.5em;
}

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}
.facebook span {
  background-color: #3b5998;
}
.instagram span {
  background-color: #e1306c;
}
.twitter span {
  background-color: #4099ff;
}
.linkedin span {
  background-color: #2867b2;
}
.github span {
  background-color: #34526f;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}

.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3b5998;
}
.icon-button .fa-github {
  color: #34526f;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #e1306c;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-linkedin {
  color: #2867b2;
}

.icon-button:hover .fa-twitter {
  color: white;
}
.icon-button:hover .fa-facebook {
  color: white;
}
.icon-button:hover .fa-linkedin {
  color: white;
}
.icon-button:hover .fa-github {
  color: white;
}
.icon-button:hover .fa-instagram {
  color: white;
}
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  .pinterest {
    display: none;
  }
}

/* Simplified sponsor logos */

.spons-logo-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.spons-logo {
  margin: 0 20px 20px 20px;
}

.sblogos {
  height: 150px; /* Change this value to make logos smaller / bigger */
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background: #ddd;
}

@media (max-width: 539px) {
  .sblogos {
    height: 300px;
  }
}

.sblogos__row {
  margin-left: -15px;
  margin-right: -15px;
}

.sblogos__col {
  float: left;
}

.sblogos__link {
  padding: 30px 15px;
}

/* --- */

.sblogos__col {
  width: 50%;
}
@media (min-width: 540px) {
  .sblogos__col {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .sblogos__col {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .sblogos__col {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .sblogos__col {
    width: 16.6667%;
  }
}

/* --- */

@media (max-width: 539px) {
  .sblogos__col:nth-child(1n + 5) {
    display: none;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .sblogos__col:nth-child(1n + 5) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sblogos__col:nth-child(1n + 6) {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sblogos__col:nth-child(1n + 6) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .sblogos__col:nth-child(1n + 7) {
    display: none;
  }
}

/* --- */

.sblogos__row,
.sblogos__col,
.sblogos__link,
.sblogos__link:before {
  height: 100%;
}

@media (max-width: 539px) {
  .sblogos__col {
    height: 50%;
  }
}

.sblogos__link,
.sblogos__link:before {
  display: inline-block;
}

.sblogos__link {
  max-width: 100%;
  max-height: 100%;
}

.sblogos__img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.sblogos__link:before {
  content: "";
  vertical-align: middle;
}

/* Transition Base */

.sblogos__col.active {
  position: relative;
}

.sblogos__col.active .prev,
.sblogos__col.active .next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* transition-easing: ease; */
}

.sblogos .sblogos__col.active {
  perspective: 500px;
}

.sblogos .sblogos__col.active .prev {
  transition: opacity 2.75s ease-out, transform 2.75s ease;
}

.sblogos .sblogos__col.active .next {
  transition: opacity 1.5s ease-out, transform 1.5s ease;
}

/* start */
.sblogos .sblogos__col.active .next {
  opacity: 0;
  transform: translateZ(-125px);
}
/* end */
.sblogos .sblogos__col.active .transition.next {
  opacity: 1;
  transform: translateZ(0px);
}
/* start */
.sblogos .sblogos__col.active .prev {
  opacity: 1;
  transform: translateZ(0px);
}
/* end */
.sblogos .sblogos__col.active .transition.prev {
  opacity: 0;
  transform: translateZ(-250px);
}
/* DNA */

#dna div {
  position: relative;
  left: auto;
  width: 3px;
  height: 100px;
  margin-top: auto;
  background-color: purple;
  float: left;
  transform-style: preserve-3d;
  margin-left: 15px;
  animation: rotation 4s linear infinite;
}
#dna div::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -4px;
  right: -4px;
  height: 10px;
  background-color: #2a206a;
  border-radius: 8px;
  animation: rotation 4s linear infinite reverse;
  z-index: 1;
}
#dna div::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -4px;
  right: -4px;
  height: 10px;
  background-color: #2a206a;
  border-radius: 8px;
  animation: rotation 4s linear infinite reverse;
  z-index: 1;
}
#dna div:nth-child(34) {
  animation-delay: -54.95s;
}
#dna div:nth-child(34)::before {
  animation-delay: -54.95s;
}
#dna div:nth-child(34)::after {
  animation-delay: -54.95s;
}
#dna div:nth-child(33) {
  animation-delay: -55.05s;
}
#dna div:nth-child(33)::before {
  animation-delay: -55.05s;
}
#dna div:nth-child(33)::after {
  animation-delay: -55.05s;
}
#dna div:nth-child(32) {
  animation-delay: -55.2s;
}
#dna div:nth-child(32)::before {
  animation-delay: -55.2s;
}
#dna div:nth-child(32)::after {
  animation-delay: -55.2s;
}
#dna div:nth-child(31) {
  animation-delay: -55.35s;
}
#dna div:nth-child(31)::before {
  animation-delay: -55.35s;
}
#dna div:nth-child(31)::after {
  animation-delay: -55.35s;
}
#dna div:nth-child(30) {
  animation-delay: -55.5s;
}
#dna div:nth-child(30)::before {
  animation-delay: -55.5s;
}
#dna div:nth-child(30)::after {
  animation-delay: -55.5s;
}
#dna div:nth-child(29) {
  animation-delay: -55.65s;
}
#dna div:nth-child(29)::before {
  animation-delay: -55.65s;
}
#dna div:nth-child(29)::after {
  animation-delay: -55.65s;
}
#dna div:nth-child(28) {
  animation-delay: -55.8s;
}
#dna div:nth-child(28)::before {
  animation-delay: -55.8s;
}
#dna div:nth-child(28)::after {
  animation-delay: -55.8s;
}
#dna div:nth-child(27) {
  animation-delay: -55.95s;
}
#dna div:nth-child(27)::before {
  animation-delay: -55.95s;
}
#dna div:nth-child(27)::after {
  animation-delay: -55.95s;
}
#dna div:nth-child(26) {
  animation-delay: -56.1s;
}
#dna div:nth-child(26)::before {
  animation-delay: -56.1s;
}
#dna div:nth-child(26)::after {
  animation-delay: -56.1s;
}
#dna div:nth-child(25) {
  animation-delay: -56.25s;
}
#dna div:nth-child(25)::before {
  animation-delay: -56.25s;
}
#dna div:nth-child(25)::after {
  animation-delay: -56.25s;
}
#dna div:nth-child(24) {
  animation-delay: -56.4s;
}
#dna div:nth-child(24)::before {
  animation-delay: -56.4s;
}
#dna div:nth-child(24)::after {
  animation-delay: -56.4s;
}
#dna div:nth-child(23) {
  animation-delay: -56.55s;
}
#dna div:nth-child(23)::before {
  animation-delay: -56.55s;
}
#dna div:nth-child(23)::after {
  animation-delay: -56.55s;
}
#dna div:nth-child(22) {
  animation-delay: -56.7s;
}
#dna div:nth-child(22)::before {
  animation-delay: -56.7s;
}
#dna div:nth-child(22)::after {
  animation-delay: -56.7s;
}
#dna div:nth-child(21) {
  animation-delay: -56.85s;
}
#dna div:nth-child(21)::before {
  animation-delay: -56.85s;
}
#dna div:nth-child(21)::after {
  animation-delay: -56.85s;
}
#dna div:nth-child(20) {
  animation-delay: -57s;
}
#dna div:nth-child(20)::before {
  animation-delay: -57s;
}
#dna div:nth-child(20)::after {
  animation-delay: -57s;
}
#dna div:nth-child(19) {
  animation-delay: -57.15s;
}
#dna div:nth-child(19)::before {
  animation-delay: -57.15s;
}
#dna div:nth-child(19)::after {
  animation-delay: -57.15s;
}
#dna div:nth-child(18) {
  animation-delay: -57.3s;
}
#dna div:nth-child(18)::before {
  animation-delay: -57.3s;
}
#dna div:nth-child(18)::after {
  animation-delay: -57.3s;
}
#dna div:nth-child(17) {
  animation-delay: -57.45s;
}
#dna div:nth-child(17)::before {
  animation-delay: -57.45s;
}
#dna div:nth-child(17)::after {
  animation-delay: -57.45s;
}
#dna div:nth-child(16) {
  animation-delay: -57.6s;
}
#dna div:nth-child(16)::before {
  animation-delay: -57.6s;
}
#dna div:nth-child(16)::after {
  animation-delay: -57.6s;
}
#dna div:nth-child(15) {
  animation-delay: -57.75s;
}
#dna div:nth-child(15)::before {
  animation-delay: -57.75s;
}
#dna div:nth-child(15)::after {
  animation-delay: -57.75s;
}
#dna div:nth-child(14) {
  animation-delay: -57.9s;
}
#dna div:nth-child(14)::before {
  animation-delay: -57.9s;
}
#dna div:nth-child(14)::after {
  animation-delay: -57.9s;
}
#dna div:nth-child(13) {
  animation-delay: -58.05s;
}
#dna div:nth-child(13)::before {
  animation-delay: -58.05s;
}
#dna div:nth-child(13)::after {
  animation-delay: -58.05s;
}
#dna div:nth-child(12) {
  animation-delay: -58.2s;
}
#dna div:nth-child(12)::before {
  animation-delay: -58.2s;
}
#dna div:nth-child(12)::after {
  animation-delay: -58.2s;
}
#dna div:nth-child(11) {
  animation-delay: -58.35s;
}
#dna div:nth-child(11)::before {
  animation-delay: -58.35s;
}
#dna div:nth-child(11)::after {
  animation-delay: -58.35s;
}
#dna div:nth-child(10) {
  animation-delay: -58.5s;
}
#dna div:nth-child(10)::before {
  animation-delay: -58.5s;
}
#dna div:nth-child(10)::after {
  animation-delay: -58.5s;
}
#dna div:nth-child(9) {
  animation-delay: -58.65s;
}
#dna div:nth-child(9)::before {
  animation-delay: -58.65s;
}
#dna div:nth-child(9)::after {
  animation-delay: -58.65s;
}
#dna div:nth-child(8) {
  animation-delay: -58.8s;
}
#dna div:nth-child(8)::before {
  animation-delay: -58.8s;
}
#dna div:nth-child(8)::after {
  animation-delay: -58.8s;
}
#dna div:nth-child(7) {
  animation-delay: -58.95s;
}
#dna div:nth-child(7)::before {
  animation-delay: -58.95s;
}
#dna div:nth-child(7)::after {
  animation-delay: -58.95s;
}
#dna div:nth-child(6) {
  animation-delay: -59.1s;
}
#dna div:nth-child(6)::before {
  animation-delay: -59.1s;
}
#dna div:nth-child(6)::after {
  animation-delay: -59.1s;
}
#dna div:nth-child(5) {
  animation-delay: -59.25s;
}
#dna div:nth-child(5)::before {
  animation-delay: -59.25s;
}
#dna div:nth-child(5)::after {
  animation-delay: -59.25s;
}
#dna div:nth-child(4) {
  animation-delay: -59.4s;
}
#dna div:nth-child(4)::before {
  animation-delay: -59.4s;
}
#dna div:nth-child(4)::after {
  animation-delay: -59.4s;
}
#dna div:nth-child(3) {
  animation-delay: -59.55s;
}
#dna div:nth-child(3)::before {
  animation-delay: -59.55s;
}
#dna div:nth-child(3)::after {
  animation-delay: -59.55s;
}
#dna div:nth-child(2) {
  animation-delay: -59.7s;
}
#dna div:nth-child(2)::before {
  animation-delay: -59.7s;
}
#dna div:nth-child(2)::after {
  animation-delay: -59.7s;
}
#dna div:nth-child(1) {
  animation-delay: -59.85s;
}
#dna div:nth-child(1)::before {
  animation-delay: -59.85s;
}
#dna div:nth-child(1)::after {
  animation-delay: -59.85s;
}
/* @-webkit-keyframes rotation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(359deg);
  }
} */

/* List styles */

.text-list-1 {
  /* lists of texts with multiple lines */
  list-style-position: outside;
  margin: 0em;
  padding-left: 1em;
}

.text-list-2 {
  /* Event on "Calendar" page */
  list-style-position: outside;
  margin: 0em;
  padding-left: 1em;
}

.text-list-3 {
  /* nested lists */
  list-style-position: outside;
  margin: 0em;
  padding-left: 3em;
}

.item-style-1::marker {
  /* most unordered list items */
  content: "●";
  color: purple;
}

.item-style-1 {
  /* unordered list items with long texts */
  padding-left: 2em;
  margin: 0 0 0.75em 0;
}

.item-style-2 {
  /* nested lists */
  padding-left: 1em;
  margin: 0 0 0.5em 0;
}

.item-style-3 {
  /* ordered list items for instructions with subsections */
  padding-left: 1em;
  margin: 0 0 4em 0;
}

.item-style-4 {
  /* general ordered list items */
  padding-left: 1em;
  margin: 0 0 0.75em 0;
}

.item-style-5 {
  /* similar to item-style-1, but for unordered list items that need compact displays on small screens */
  padding-left: 1em;
  margin: 0 0 0.75em 0;
}

.item-style-5::marker {
  /* similar to item-style-1, but for unordered list items that need compact displays on small screens */
  content: "●";
  color: purple;
}

.link-style-1 {
  /* for most hyperlinks including TOC links */
  color: var(--idec_light_purple_1);
  font-weight: bold;
}

.link-style-1:hover {
  /* for most hyperlinks including TOC links */
  color: var(--idec_light_purple_2);
}

.link-style-2 {
  /* for hyperlinks but not bold */
  color: var(--idec_primary_purple);
}

.link-style-2:hover {
  /* for most hyperlinks including TOC links */
  color: var(--idec_light_purple_1);
}

.alert-1 {
  /* Alert box on "Details for Registration" page */
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.img-thumbnail {
  /* about_us page headshots */
  padding: 0.3rem;
  background-color: #f8f9fa;
  border: 3px solid #325475;
  border-radius: 45rem;
  max-width: 90%;
  margin: 1rem;
  margin-bottom: 0.2rem;
}

.colored-text-1 {
  /* To color dates as requested by Yang*/
  color: #7a5fbc; /* should change to a diff color later to avoid confusion with links */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #f45b69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 350px 0 20px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 370px;
  height: 3px;
  background: #43418f;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #1cc283; /* dot on timeline */
}

.timeline ol li div {
  position: absolute;
  left: calc(100px + 50px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white; /* box background color */
  border-style: solid;
  border-color: #2a206a;
  border-width: 0.2em;
  border-radius: 40px;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li div::before {
  top: 100%;
  border-width: 12px 0 0 16px;
  transform: translateX(-310%);
  border-color: #2a206a transparent transparent transparent; /* box corner color */
}

/*
.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
*/

/*
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}
*/

.timeline time {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline-card {
  height: 300px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 750px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .timeline ol div {
    /* this is the part which renders mobile phone display problem before*/
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
/* Register now button */

.btn-green {
  color: var(--idec_primary_purple);
  border-color: var(--idec_primary_green);
}

.btn-green:hover {
  color: var(--pseudo_white);
  background-color: var(--idec_primary_green);
  border-color: var(--idec_primary_green);
}

.btn-divider {
  width: 3em;
  height: auto;
  display: inline-block;
}

@media (max-width: 760px) {
  .btn-divider {
    width: 0em;
  }
  .btn-green {
    margin-bottom: 1em;
  }
  .btn-huge {
    font-size: 1.2em;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* NEB advertisement banner */
.ad-banner {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad-banner .ad-banner-text {
  padding-left: 1em;
  padding-right: 1em;
}

.ad-banner .info-btn {
  height:auto;
  width: auto;
  padding: 0.2em 0.8em;
  margin-left: 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
}

.neb-colors {
  background-color: #808080;
  color: #FFFFFF;
}

.neb-colors button.info-btn {
  color: #FFFFFF;
  background-color: #F2661B;
}

.ad-banner .dimiss-btn {
  position: absolute;
  right: 2em;
}

.ad-timer{
  size: 0.1em;
}

@media only screen and (min-width: 768px) { 
  .responsive-br {
    display: none;
  }
}

@media (max-width: 860px) { 
  .responsive-nbsp {
    display: none;
  }
  .ad-banner button.info-btn {
    margin-top: 1em;
  }
}