@charset "utf-8";
/* CSS Document */
/* Background image*/
h1 {
	color: #2a206a;
	font-size: 400%;
}
nav div li .nav-link a{
	color: #2a206a;
	font-size: 100%;
}
.title-jumbo {
  background-image:  url("../img/hand.png"), url("../img/tree.png");
  background-size: 600px, 1800px;
  background-position: right top,top;
  background-repeat: no-repeat;
  margin-left: 400px, none;
  background-attachment: scroll, scroll;
}
.card-footer {
  background-image:  url("../img/footer.png");
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1550px;
}
.card-footer img {
    left: 0;
    bottom: 0;
}

.card-footer2 {
  background-image:  url("../img/footer2.png");
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1550px;
}
.card-footer2 img {
    left: 0;
    bottom: 0;
}

.jumbo-form{
  	background: rgba(213, 207, 255, 0.4);
}
.form-control{
  	background: rgba(213, 207, 255, 0.8);
}

.btn-huge{
    padding-top:10px;
	padding-left:50px;
	padding-right:50px;
    padding-bottom:10px;
	border-radius: 50px;
	font-size: 25px;
}

.parent {
  position: inline;
  top: 0;
  left: 0;
}
.img-1 {
  position: top;
  top: 0;
  left: 0;
  size: contain;
}
.img-2 {
  position: absolute;
  top: 0px;
  left: 20%;
  max-width: 60%
}

.parent .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 11px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  border-width: medium;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}
.facebook span {
	background-color: #3B5998;
}
.instagram span {
	background-color: #e1306c;
}
.twitter span {
	background-color: #4099ff;
}
.linkedin span {
	background-color: #2867b2;
}
.github span {
	background-color: #34526f;
}
.youtube span {
	background-color: #bb0000;
}
.pinterest span {
	background-color: #cb2027;
}

.icon-button .fa-twitter {
	color: #4099ff;
}
.icon-button .fa-facebook {
	color: #3B5998;
}
.icon-button .fa-github {
	color: #34526f;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button .fa-instagram {
	color: #e1306c;
}
.icon-button .fa-youtube {
	color: #bb0000;
}
.icon-button .fa-linkedin {
	color: #2867b2;
}




.icon-button:hover .fa-twitter {
	color: white;
}
.icon-button:hover .fa-facebook {
	color: white;
}
.icon-button:hover .fa-linkedin{
	color: white;
}
.icon-button:hover .fa-github {
	color: white;
}
.icon-button:hover .fa-instagram {
	color: white;
}
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
	color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }
  .pinterest {
   display: none;
  }

}
.hand-pippete {
}
.sblogos {
  height: 150px; /* Change this value to make logos smaller / bigger */
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background: #ddd;
}

@media (max-width: 539px){
  .sblogos { height: 300px; }
}

.sblogos__row {
  margin-left: -15px;
  margin-right: -15px;
}

.sblogos__col {
  float: left;
}

.sblogos__link {
  padding: 30px 15px;
}


/* --- */


.sblogos__col { width: 50%; }
@media (min-width: 540px){  .sblogos__col { width: 25%; }}
@media (min-width: 768px){  .sblogos__col { width: 20%; }}
@media (min-width: 992px){  .sblogos__col { width: 20%; }}
@media (min-width: 1200px){ .sblogos__col { width: 16.6667%; }}

/* --- */

@media(max-width: 539px){                         .sblogos__col:nth-child(1n+5) { display: none; }}
@media(min-width: 540px) and (max-width: 767px){  .sblogos__col:nth-child(1n+5) { display: none; }}
@media(min-width: 768px) and (max-width: 991px){  .sblogos__col:nth-child(1n+6) { display: none; }}
@media(min-width: 992px) and (max-width: 1199px){ .sblogos__col:nth-child(1n+6) { display: none; }}
@media(min-width: 1200px){                        .sblogos__col:nth-child(1n+7) { display: none; }}

/* --- */

.sblogos__row,
.sblogos__col,
.sblogos__link,
.sblogos__link:before {
  height: 100%;
}

@media(max-width: 539px){
  .sblogos__col { height: 50%; }
}

.sblogos__link,
.sblogos__link:before {
  display: inline-block;
}

.sblogos__link {
  max-width: 100%;
  max-height: 100%;
}

.sblogos__img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.sblogos__link:before {
  content: '';
  vertical-align: middle;
}

/* Transition Base */

.sblogos__col.active {
  position: relative;
}

.sblogos__col.active .prev,
.sblogos__col.active .next {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition-easing: ease;
}

.sblogos .sblogos__col.active {
  perspective: 500px;
}

.sblogos .sblogos__col.active .prev {
  transition: opacity 2.75s ease-out, transform 2.75s ease;
}

.sblogos .sblogos__col.active .next {
  transition: opacity 1.5s ease-out, transform 1.5s ease;
}

/* start */
.sblogos .sblogos__col.active .next {
  opacity: 0;
  transform: translateZ(-125px);
}
/* end */
.sblogos .sblogos__col.active .transition.next {
  opacity: 1;
  transform: translateZ(0px);
}
/* start */
.sblogos .sblogos__col.active .prev {
  opacity: 1;
  transform: translateZ(0px);
}
/* end */
.sblogos .sblogos__col.active .transition.prev {
  opacity: 0;
  transform: translateZ(-250px);
}
/* DNA */

#dna div {
  position: relative;
  left: auto;
  width: 3px;
  height: 100px;
  margin-top: auto;
  background-color: purple;
  float: left;
  transform-style: preserve-3d;
  margin-left: 15px;
  animation: rotation 4s linear infinite;
}
#dna div::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -4px;
  right: -4px;
  height: 10px;
  background-color: #2a206a;
  border-radius: 8px;
  animation: rotation 4s linear infinite reverse;
  z-index: 1;
}
#dna div::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -4px;
  right: -4px;
  height: 10px;
  background-color: #2a206a;
  border-radius: 8px;
  animation: rotation 4s linear infinite reverse;
  z-index: 1;
}
#dna div:nth-child(30) {
  animation-delay: -55.5s;
}
#dna div:nth-child(30)::before {
  animation-delay: -55.5s;
}
#dna div:nth-child(30)::after {
  animation-delay: -55.5s;
}
#dna div:nth-child(29) {
  animation-delay: -55.65s;
}
#dna div:nth-child(29)::before {
  animation-delay: -55.65s;
}
#dna div:nth-child(29)::after {
  animation-delay: -55.65s;
}
#dna div:nth-child(28) {
  animation-delay: -55.8s;
}
#dna div:nth-child(28)::before {
  animation-delay: -55.8s;
}
#dna div:nth-child(28)::after {
  animation-delay: -55.8s;
}
#dna div:nth-child(27) {
  animation-delay: -55.95s;
}
#dna div:nth-child(27)::before {
  animation-delay: -55.95s;
}
#dna div:nth-child(27)::after {
  animation-delay: -55.95s;
}
#dna div:nth-child(26) {
  animation-delay: -56.1s;
}
#dna div:nth-child(26)::before {
  animation-delay: -56.1s;
}
#dna div:nth-child(26)::after {
  animation-delay: -56.1s;
}
#dna div:nth-child(25) {
  animation-delay: -56.25s;
}
#dna div:nth-child(25)::before {
  animation-delay: -56.25s;
}
#dna div:nth-child(25)::after {
  animation-delay: -56.25s;
}
#dna div:nth-child(24) {
  animation-delay: -56.4s;
}
#dna div:nth-child(24)::before {
  animation-delay: -56.4s;
}
#dna div:nth-child(24)::after {
  animation-delay: -56.4s;
}
#dna div:nth-child(23) {
  animation-delay: -56.55s;
}
#dna div:nth-child(23)::before {
  animation-delay: -56.55s;
}
#dna div:nth-child(23)::after {
  animation-delay: -56.55s;
}
#dna div:nth-child(22) {
  animation-delay: -56.7s;
}
#dna div:nth-child(22)::before {
  animation-delay: -56.7s;
}
#dna div:nth-child(22)::after {
  animation-delay: -56.7s;
}
#dna div:nth-child(21) {
  animation-delay: -56.85s;
}
#dna div:nth-child(21)::before {
  animation-delay: -56.85s;
}
#dna div:nth-child(21)::after {
  animation-delay: -56.85s;
}
#dna div:nth-child(20) {
  animation-delay: -57s;
}
#dna div:nth-child(20)::before {
  animation-delay: -57s;
}
#dna div:nth-child(20)::after {
  animation-delay: -57s;
}
#dna div:nth-child(19) {
  animation-delay: -57.15s;
}
#dna div:nth-child(19)::before {
  animation-delay: -57.15s;
}
#dna div:nth-child(19)::after {
  animation-delay: -57.15s;
}
#dna div:nth-child(18) {
  animation-delay: -57.3s;
}
#dna div:nth-child(18)::before {
  animation-delay: -57.3s;
}
#dna div:nth-child(18)::after {
  animation-delay: -57.3s;
}
#dna div:nth-child(17) {
  animation-delay: -57.45s;
}
#dna div:nth-child(17)::before {
  animation-delay: -57.45s;
}
#dna div:nth-child(17)::after {
  animation-delay: -57.45s;
}
#dna div:nth-child(16) {
  animation-delay: -57.6s;
}
#dna div:nth-child(16)::before {
  animation-delay: -57.6s;
}
#dna div:nth-child(16)::after {
  animation-delay: -57.6s;
}
#dna div:nth-child(15) {
  animation-delay: -57.75s;
}
#dna div:nth-child(15)::before {
  animation-delay: -57.75s;
}
#dna div:nth-child(15)::after {
  animation-delay: -57.75s;
}
#dna div:nth-child(14) {
  animation-delay: -57.9s;
}
#dna div:nth-child(14)::before {
  animation-delay: -57.9s;
}
#dna div:nth-child(14)::after {
  animation-delay: -57.9s;
}
#dna div:nth-child(13) {
  animation-delay: -58.05s;
}
#dna div:nth-child(13)::before {
  animation-delay: -58.05s;
}
#dna div:nth-child(13)::after {
  animation-delay: -58.05s;
}
#dna div:nth-child(12) {
  animation-delay: -58.2s;
}
#dna div:nth-child(12)::before {
  animation-delay: -58.2s;
}
#dna div:nth-child(12)::after {
  animation-delay: -58.2s;
}
#dna div:nth-child(11) {
  animation-delay: -58.35s;
}
#dna div:nth-child(11)::before {
  animation-delay: -58.35s;
}
#dna div:nth-child(11)::after {
  animation-delay: -58.35s;
}
#dna div:nth-child(10) {
  animation-delay: -58.5s;
}
#dna div:nth-child(10)::before {
  animation-delay: -58.5s;
}
#dna div:nth-child(10)::after {
  animation-delay: -58.5s;
}
#dna div:nth-child(9) {
  animation-delay: -58.65s;
}
#dna div:nth-child(9)::before {
  animation-delay: -58.65s;
}
#dna div:nth-child(9)::after {
  animation-delay: -58.65s;
}
#dna div:nth-child(8) {
  animation-delay: -58.8s;
}
#dna div:nth-child(8)::before {
  animation-delay: -58.8s;
}
#dna div:nth-child(8)::after {
  animation-delay: -58.8s;
}
#dna div:nth-child(7) {
  animation-delay: -58.95s;
}
#dna div:nth-child(7)::before {
  animation-delay: -58.95s;
}
#dna div:nth-child(7)::after {
  animation-delay: -58.95s;
}
#dna div:nth-child(6) {
  animation-delay: -59.1s;
}
#dna div:nth-child(6)::before {
  animation-delay: -59.1s;
}
#dna div:nth-child(6)::after {
  animation-delay: -59.1s;
}
#dna div:nth-child(5) {
  animation-delay: -59.25s;
}
#dna div:nth-child(5)::before {
  animation-delay: -59.25s;
}
#dna div:nth-child(5)::after {
  animation-delay: -59.25s;
}
#dna div:nth-child(4) {
  animation-delay: -59.4s;
}
#dna div:nth-child(4)::before {
  animation-delay: -59.4s;
}
#dna div:nth-child(4)::after {
  animation-delay: -59.4s;
}
#dna div:nth-child(3) {
  animation-delay: -59.55s;
}
#dna div:nth-child(3)::before {
  animation-delay: -59.55s;
}
#dna div:nth-child(3)::after {
  animation-delay: -59.55s;
}
#dna div:nth-child(2) {
  animation-delay: -59.7s;
}
#dna div:nth-child(2)::before {
  animation-delay: -59.7s;
}
#dna div:nth-child(2)::after {
  animation-delay: -59.7s;
}
#dna div:nth-child(1) {
  animation-delay: -59.85s;
}
#dna div:nth-child(1)::before {
  animation-delay: -59.85s;
}
#dna div:nth-child(1)::after {
  animation-delay: -59.85s;
}
@-webkit-keyframes rotation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(359deg);
  }
}

/* List styles */

ul.textlist1{
	list-style-position: outside;
  margin: 0em;
  padding: 0em;
}

ul li.item-style1::marker{
	content: "●";
  color: purple;
}

ul li.item-style1{
	padding-left: 2em;
	margin: 0 0 12px 0;
}

</style>
</head>
<body>
